@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%; }

q:before,
q:after {
  content: ”; }

abbr,
acronym {
  border: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  overflow: hidden; }

body {
  color: #666;
  font-size: 12px;
  font-family: "微软雅黑"; }

@font-face {
  font-family: "uplan";
  src: url("../fonts/iconfont.eot?t=1462759648");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1462759648#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1462759648") format("woff"), url("../fonts/iconfont.ttf?t=1462759648") format("truetype"), url("../fonts/iconfont.svg?t=1462759648#iconfont") format("svg");
  /* iOS 4.1- */ }
[class^="icon-u-"]:before,
[class*=" icon-u-"]:before {
  font-family: "uplan";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  padding: 50px 350px 0 240px;
  position: relative;
  height: 100%; }

.editor {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: auto; }

.header {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  background: #0085a1;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }
  .header .logo {
    position: absolute;
    left: 15px;
    top: 0; }
    .header .logo img {
      vertical-align: middle; }
  .header .header_body {
    text-align: center; }
  .header .header_right {
    position: absolute;
    right: 0;
    top: 0; }
    .header .header_right > li {
      float: left;
      min-width: 70px;
      height: 50px; }
      .header .header_right > li > a {
        color: #fff;
        text-decoration: none;
        display: block;
        height: 100%;
        background: #017c96;
        text-align: center; }
        .header .header_right > li > a:hover {
          background: #007088; }

.tool {
  width: 45px;
  height: 100%;
  position: absolute;
  right: 305px;
  top: 50px;
  border-right: 1px solid #ddd;
  background: #e2e2e2; }
  .tool li {
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: #7f7f7f;
    border-bottom: 1px solid #fff;
    cursor: pointer; }
    .tool li i {
      font-size: 16px; }
    .tool li:hover {
      background: #c4c4c4; }

.attr {
  position: absolute;
  right: 0;
  top: 50px;
  width: 305px;
  height: 100%;
  background: #f4f4f4; }
  .attr input[type="text"],
  .attr select {
    float: left;
    width: 200px;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .attr .attr_nav {
    border-bottom: 1px solid #ddd;
    height: 50px; }
    .attr .attr_nav a {
      float: left;
      width: 50%;
      line-height: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      color: #666;
      text-decoration: none; }
      .attr .attr_nav a.active {
        background: #646464;
        color: #fff; }
  .attr .attr ul {
    padding: 0 10px;
    background: #fff;
    overflow: hidden; }
    .attr .attr ul > li {
      padding: 20px 0;
      float: left;
      width: 100%;
      border-bottom: 1px solid #ddd; }
      .attr .attr ul > li > label {
        width: 5em;
        float: left;
        padding-top: 7px;
        font-weight: bold;
        color: #777777; }
      .attr .attr ul > li > div {
        float: left;
        position: relative; }
        .attr .attr ul > li > div > var {
          font-style: normal;
          position: absolute;
          left: 0;
          top: 30px;
          width: 100%;
          text-align: center;
          color: #cdcdcd; }
  .attr .styleAttr {
    height: 100%;
    padding-bottom: 100px; }
    .attr .styleAttr ul {
      display: none; }

.fodder {
  position: absolute;
  left: 0;
  top: 50px;
  width: 240px;
  background: #f4f4f4;
  overflow: hidden;
  height: 100%; }

.fodder_nav {
  width: 50px;
  float: left;
  border: 1px solid #ccc;
  height: 100%; }
  .fodder_nav li {
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; }
    .fodder_nav li:hover, .fodder_nav li.active {
      background: #e8e8e8;
      color: #0085a1; }
    .fodder_nav li i {
      display: block; }

.fodder_body {
  width: 190px;
  float: left;
  border: 1px solid #ccc;
  border-left: 0;
  border-bottom: 0;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px; }
  .fodder_body ul {
    display: none; }
  .fodder_body .shape {
    overflow: hidden;
    display: block; }
    .fodder_body .shape li {
      width: 50%;
      height: 95px;
      text-align: center;
      line-height: 95px;
      float: left;
      color: #0085a1;
      border-bottom: 1px solid #ddd; }
      .fodder_body .shape li:nth-child(2n+1) {
        border-right: 1px solid #ddd; }
      .fodder_body .shape li:hover {
        background: #e8e8e8; }
      .fodder_body .shape li img {
        width: 60%;
        vertical-align: middle; }
      .fodder_body .shape li i {
        font-size: 60px; }

.up-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.rightMenu {
  width: 150px;
  list-style: none;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0;
  position: fixed;
  display: none;
  z-index: 99; }
  .rightMenu li {
    height: 40px;
    border-bottom: 1px solid #eee;
    display: none; }
    .rightMenu li a,
    .rightMenu li a:hover {
      display: block;
      height: 100%;
      line-height: 40px;
      text-align: center;
      color: #666;
      text-decoration: none; }

#dragImg {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #ccc;
  margin-left: -25px;
  margin-top: -25px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  display: none;
  z-index: 999;
  opacity: .5;
  pointer-events: none; }
  #dragImg img {
    width: 25px; }

.pop {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 800px;
  margin-left: -400px;
  margin-top: -150px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  padding: 50px 20px 20px;
  border-radius: 5px;
  display: none; }
  .pop > h3 {
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    top: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold; }
    .pop > h3 a {
      float: right;
      font-size: 20px;
      color: #666;
      text-decoration: none;
      cursor: pointer; }

.pop textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block; }

.pop > div {
  height: 100%;
  overflow: auto;
  text-align: center; }

.pop > div > img {
  max-width: 100%;
  border: 1px solid #ddd; }

.popSet {
  width: 550px;
  margin-left: -275px; }

.popSet > div > div {
  overflow: hidden;
  margin-bottom: 15px; }

.popSet label {
  float: left;
  width: 10em;
  line-height: 32px;
  font-weight: bold; }

.popSet input[type='text'] {
  float: left;
  width: 360px;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.popSet input[type='checkbox'] {
  margin-left: 1em;
  margin-top: 10px; }

.loadJSON input {
  display: none; }

.loadJSON {
  text-align: center;
  display: block;
  background: #017c96; }

.wrapper {
  padding: 50px 45px 0 60px; }

.tool {
  right: 0px; }

.fodder {
  width: 60px; }

.fodder_body {
  width: 60px; }
  .fodder_body .shape li {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd; }
    .fodder_body .shape li:nth-child(2n+1) {
      border-right: 1px solid #ddd; }

#draw {
  height: 100%;
  width: 100%;
  overflow: hidden; }

#draw > svg {
  transform-origin: 0% 0%;
  float: left;
  cursor: default;
  border: 2px solid #ddd; }

polyline[id^="line"]:hover {
  stroke: #09c;
  cursor: pointer; }

text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

g[id^="node"] {
  cursor: pointer; }

.line_animation {
  stroke-dashoffset: 1000;
  animation: dash 20s linear infinite; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=uscene2.css.map */
